body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header > a {
  color: #6a00ff;
}

header li {
  display: inline-block;
  margin-right: 10px;
  
}

h1 {
  font-size: xx-large;
  
}

body>h1 {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: xx-large;
}

header {
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body li {
  
}

h3 > a {
  color: green;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid;
  font-size: 75px;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
}
	
.delete-form button {
  color: red;
}